body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.page {
	max-width: 40em;
	margin: 0 auto;
	padding: 0 0;
}

.block {
	margin-top: 1em;
	padding: 0.25em 0 0.25em 0em;
	#background-image: url(icons/dot.svg);
	#background-repeat: repeat-x;
	#position: relative;
}

.header {
	text-align: justified;
}

h2.caption {
	display: inline-block;
	margin-top: 3em;
	margin-bottom: 0;
	padding: 0;
	text-transform: uppercase;
	#border-left: 0.25em black solid;
	color: Black;
}

h2.caption ~ .info{
	display: block;
	font-size: 100%;
	font-weight: normal;
	padding-left: 0em;
	#color: DimGray;
}

h2.caption .logo {
	position: relative;
	top: 0.1em;
	height: 1em;
}

h3.caption {
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 0;
	padding: 0;
	color: Black;
}

h3.caption ~ .info{
	display: block;
	font-size: 100%;
	font-weight: 300;
	padding-left: 0em;
	#color: DimGray;
}

h4.caption ~ .info{
	position: relative;
	display: block;
	font-size: 100%;
	font-weight: 300;
	padding-left: 0em;
	top: -1em;
	#color: DimGray;
}

/*.block:hover {
	outline: dotted 1px gray;
	outline-offset: 0.25em;
}*/

.block .name {
	padding: 0 0.5em 0 0em;
	font-weight: normal;
	text-transform: uppercase;
	cursor: pointer;
	color: RoyalBlue;
	white-space: nowrap;
}

.block .name:hover {
	color: Crimson;
}

.block .name.fav:after {
	font-weight: normal;
	font-size: 90%;
	color: crimson;
	content: ' \2764';
}

.block .valuerow {
	text-align: right;
	background-image: url(icons/dot.svg);
	background-repeat: repeat-x;
}

.block input, .block select {
	font-weight: bold;
	position: relative;
	top: -0.1em;
	border: none;
	background: none;
	text-align: right;
	font-size: 1.2em;
}

.block select {
	text-transform: uppercase;
	padding-right: 0.5em;
	direction: rtl;
	border: none;
	outline: solid 1px white;
	outline-offset: -1px;
}

.block select option {
	font-size: 75%;
	text-transform: uppercase;
	direction: rtl;
	border: none;
	outline: none;
}

.block input[type="checkbox"] {
	position: relative;
	right: 0.5em;
	width: 0.8em;
	height: 0.8em;
}
 
.block input[type="checkbox"]:checked:before {
	position: relative;
	top: -0.3em;
	left: -2.2em;
	font-size: 80%;
	content: 'YES';
}
 
.block .info {
	position: relative;
	top: -0.3em;
	font-size: 90%;
	font-weight: 300;
	padding-left: 1.2em;
	color: DimGray;
}

.block .unit {
	display: table-cell;
	position: relative;
	top: -0.1em;
	font-weight: 300;
	color: DimGray;
}

.block .from-to {
	font-weight: 300;
	color: DimGray;
}

h2 .info-persistant {
	display: block;
	font-size: 0.6em;
	font-weight: 300;
	color: DimGray;
}

.block em {
	font-style: normal; 
	font-weight: normal;
	color: DimGray;
	text-transform: uppercase;
}

.filter {
	font-weight: 300;
	color: Gray;
	background: none;
	border: none;
	padding: 0.3em 0.5em 0.1em 0.5em;
	text-transform: uppercase;
	font-size: 0.8em;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border-bottom: 0.3em solid White;
	outline: 1px solid white;
	outline-offset: -1px;
}

.filter.selected {
	color: Black;
	font-weight: bold;
	border-color: Black;
}

.filter:hover {
	#color: white;
	border-color: CornflowerBlue;
}

.filter input {
	height: 1.25em;
	width: 1.25em;
	#width: 100%;
	#border: 0px;
	#display: none;
}

.start-block {
	width: 100%;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: White;
	padding: 0 0 0.3em 0;
	border-top: none;
	border-bottom: dotted lightgray 1px;
	z-index: 10;
	padding: 1em 0;
	box-shadow: 0 1.5em 1em -1.5em gray;
}

.start-block.end {
	bottom: 0;
	border-bottom: none;
	border-top: dotted lightgray 1px;
	box-shadow: 0 -1.5em 1em -1.5em gray;
}


.start {
	background: CornflowerBlue;
	color: White;
	padding: 0.35em 1em 0.25em 1em;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-bottom: 0.2em solid white;
	font-size: 1em;
	cursor: pointer;
}

.start:hover {
	border-bottom: 0.2em solid black;
}

.toggle-link {
	color: CornflowerBlue;
	text-decoration: none;
	/*text-transform: uppercase;*/
	border-bottom: 0.1em solid white;
	cursor: pointer;
}

.toggle-link:hover {
	border-bottom: 0.1em solid CornflowerBlue;
}

table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

tr {
	}
	
td {
	/*border: solid 1px red;*/
}

.mainsyslink { /* buttons that must look like links */
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: none;
	cursor: pointer;
	color: CornflowerBlue;
}

.syslink { /* buttons that must look like links */
	text-transform: uppercase;
	font-weight: 300;
	background: none;
	border: none;
	cursor: pointer;
	color: CornflowerBlue;
}

.mainsyslink:hover, .syslink:hover {
	background: CornflowerBlue;
	color: White;
}


.tags {
	display: inline-block;
	display: none; /* hiding tags */
	font-size: 0.7em;
	background: Yellow;
	padding: 0.3em 0.5em;
}

.leftbutton {
	position: absolute;
	left: 0;
	background: none;
	border: none;
	text-transform: uppercase;
	font-weight: 300;
	color: gray;
	cursor: pointer;
}

.leftbutton:hover {
	border-bottom: 0.2em cornflowerblue solid;
}

.rightbutton {
	position: absolute;
	right: 0;
	background: none;
	border: none;
	text-transform: uppercase;
	font-weight: 300;
	color: gray;
	cursor: pointer;
}

.rightbutton:hover {
	border-bottom: 0.2em cornflowerblue solid;
}

.leftbutton img, .rightbutton img {
	position: relative;
	top: 0.1em;
	height: 1em;
}

.wait {
	text-align: center;
	font-size: 3em;
	margin: 2em 0;
	text-shadow: 0 0 0.1em lightgray;
}

/*
input {
	border: solid 1px red !important;
}
*/