body {
	background-color: black;
	margin: 0px;
	overflow: hidden;
}

/*canvas{
    font-smooth: never;
    -webkit-font-smoothing : none;
}*/

#hud {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	font-family: 'Consolas';
	font-size: 0.75em;
	background: rgba(255,255,255,0.75);
	padding: 0.1em 0.5em;
	text-transform: uppercase;
}

#hud .link {
	text-decoration: none;
	cursor: pointer;
}

#hud img, #hud .link img {
	height: 1.2em;
	position: relative;
	top:0.3em;
}

#pause {
	display: none;
}

/*#play {
	display: none;
}*/