body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

.page {
	max-width: 40em;
	margin: auto;
	padding: 0 5em;
}

.block {
	margin-top: 1em;
	padding: 0.25em 0 0.25em 0em;
	#background-image: url(icons/dot.svg);
	#background-repeat: repeat-x;
	#position: relative;
}

.header {
	/*text-align: center;*/
}

h2.caption {
	display: inline-block;
	margin-top: 3em;
	margin-bottom: 0;
	padding: 0;
	text-transform: uppercase;
	#border-left: 0.25em black solid;
	color: Black;
}

h2.caption ~ .info{
	display: block;
	font-size: 100%;
	font-weight: normal;
	padding-left: 0em;
	#color: DimGray;
}

h2.caption .logo {
	position: relative;
	top: 0.1em;
	height: 1em;
}

h3.caption {
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 0;
	padding: 0;
	color: Black;
}

/*.block:hover {
	outline: dotted 1px gray;
	outline-offset: 0.25em;
}*/

.block .name {
	padding: 0 0.5em 0 0em;
	font-weight: normal;
	text-transform: uppercase;
	cursor: pointer;
	color: RoyalBlue;
	white-space: nowrap;
}

.block .name:hover {
	color: Crimson;
}

.block .name.fav:after {
	font-weight: normal;
	font-size: 90%;
	color: crimson;
	content: ' \2764';
}

.block .valuerow {
	text-align: right;
	background-image: url(icons/dot.svg);
	background-repeat: repeat-x;
}

.block input, .block select {
	font-weight: bold;
	position: relative;
	top: -0.1em;
	border: none;
	background: none;
	text-align: right;
	font-size: 1.2em;
}

.block select {
	text-transform: uppercase;
	padding-right: 0.5em;
	direction: rtl;
	border: none;
	outline: solid 1px white;
	outline-offset: -1px;
}

.block select option {
	font-size: 75%;
	text-transform: uppercase;
	direction: rtl;
	border: none;
	outline: none;
}

.block input[type="checkbox"] {
	position: relative;
	right: 0.5em;
	width: 0.8em;
	height: 0.8em;
}
 
.block input[type="checkbox"]:checked:before {
	position: relative;
	top: -0.3em;
	left: -2.2em;
	font-size: 80%;
	content: 'YES';
}
 
.block .info {
	position: relative;
	top: -0.3em;
	font-size: 90%;
	font-weight: 300;
	padding-left: 1.2em;
	color: DimGray;
}

.block .unit {
	display: table-cell;
	position: relative;
	top: -0.1em;
	font-weight: 300;
	color: DimGray;
}

h2 .info {
	display: block;
	font-size: 0.6em;
	font-weight: 300;
	color: DimGray;
}

.block em {
	font-style: normal; 
	font-weight: normal;
	color: DimGray;
	text-transform: uppercase;
}

.filters {
	font-weight: 300;
	color: Gray;
}

.filters input {
	#display: none;
}

.filters input:checked ~ span {
	font-weight: bold;
	color: Black;
}

.start-block {
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: White;
	padding: 1em;
	border-top: dotted lightgray 1px;
	border-bottom: dotted lightgray 1px;
	z-index: 10;
}

.start-block.end {
	bottom: 0;
}

.start {
	background: CornflowerBlue;
	color: White;
	padding: 0.25em 1em;
	text-decoration: none;
	/*text-transform: uppercase;*/
}

table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

tr {
	}
	
td {
	/*border: solid 1px red;*/
}

.syslink { /* buttons that must look like links */
	background: none;
	border: none;
	cursor: point;
	color: CornflowerBlue;
}

.syslink:hover {
	background: CornflowerBlue;
	color: White;
}